[Unit]
Description=ENTRADA-PRO Worker (gera pro.json/top10.json)
After=network.target

[Service]
Type=oneshot
User=roteiro_ds
WorkingDirectory=/home/roteiro_ds/ENTRADA-PRO
Environment=DATA_DIR=/home/roteiro_ds/ENTRADA-PRO/data
ExecStart=/usr/bin/python3 /home/roteiro_ds/ENTRADA-PRO/worker/worker_pro.py
